
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-5 text-center">
    <div class="card card-container">
      <div *ngIf="!showDetails" class="white-box" [formGroup]="loginForm">
        <img src="img/logo.png" />
        <h4><span style="font-weight: bold;">{{ title }} </span></h4>
        <span>Only parcel with shipment date less than 1 month</span>
        <hr class="divider-line" />
        <table class="table table-responsive">
          <tr>
            <td style="width: 43%">
              <select class="form-control" formControlName="selectedSearchType">
                <option *ngFor="let type of searchTypes" [value]="type.value">{{ type.display }}</option>
              </select>
              <div *ngIf="loginForm.get('selectedSearchType')?.touched && loginForm.get('selectedSearchType')?.invalid"
                class="text-danger">
                Please select a type.
              </div>
            </td>
            <td style="width: 57%">
              <input
  type="text"
  class="form-control"
  style="margin-left: 10px; width: 95%"
  formControlName="barcodeExtId"
  [ngClass]="{
    'is-invalid': loginForm.get('barcodeExtId')?.touched && loginForm.get('barcodeExtId')?.invalid,
    'is-valid': loginForm.get('barcodeExtId')?.touched && loginForm.get('barcodeExtId')?.valid
  }"
  (keydown.enter)="onSearch()"/>

              <!-- <input type="text" class="form-control" style="margin-left: 10px; width: 95%"
                formControlName="barcodeExtId" /> -->
              <div *ngIf="loginForm.get('barcodeExtId')?.touched && loginForm.get('barcodeExtId')?.invalid"
                class="popup-error">
                Please fill out this field.
              </div>
            </td>
          </tr>
        </table>
 
        <button class="btn btn-success" 
        (click)="onSearch()"
          style="width: 100%; background: #7ace4c; border: 1px solid #7ace4c;">
          SEARCH
        </button>
      </div>

      <div *ngIf="showDetails" class="row">
        <button class="btn btn-default pull-right" (click)="goBack()">GO BACK</button>
        <br /><br />
        
      </div>
    </div>
  </div>
</div>
